@import "_base.scss";

$border_color: #aaa;

html, body {
    height: 100%;
}

#main {
    display: flex;
    align-items: stretch;
    height: 100%;

    .grid-item {
        .close {
            display: none;
            position: absolute;
            right: 5px; top: 5px;
            padding: 5px 8px;
            transition: all 0.2s ease;

            font-size: 18px;
            cursor: pointer;
            &:hover {
                color: red;
            }
        }
    }

    .left-column {
        border-right: 1px solid $border_color;
        width: 40%;

        .squared-box {
            border-bottom: 1px solid $border_color;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            &.-grids-9 {
                .grid-item {
                    width: calc(100% / 3);
                    height: calc(100% / 3);
                    background-size: 100% 100%;
                }
            }

            .grid-item {
                box-shadow: inset 0 0 8px #aaa;
                position: relative;
                .close {
                    display: block;
                    opacity: 0;
                }
                &:hover {
                    .close {
                        opacity: 0.7;
                    }
                }
            }
        }
        .settings-box {
        }
    }

    .right-column {
        flex-grow: 1;

        .url-box {
            padding: 20px;
            border-bottom: 1px solid #eee;
        }

        ul.play-list {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                border-bottom: 1px solid #ddd;
                padding: 10px;
            }
            li .grid-item {
                width: 100px;
                height: 100px;
                background-size: 100px 100px;
                border: 1px solid blue;
            }
        }
    }
}
