@import "variables";
@import "../bower_components/sweetalert/dev/sweetalert";


.sweet-alert {
    border-radius: $border_radius;
    h2 {
        color: $font_color_large_title;
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        color: #555;
    }
    &._alignleft p {
        font-size: 1.3em;
        text-align: left;
        padding: 0 1em;
        line-height: 1.3em;
    }
    .sa-confirm-button-container {
        margin-bottom: 15px;
    }
    button {
        font-size: 1.2em;
        padding: .6em 2em;
        border-radius: $border_radius;
    }

}
