doctype html
html
  head
    title Squared
  link(rel="stylesheet", href="css/app.css")
  body
    #main
      .left-column
        .squared-box
        .settings-box
          div .settings-box
      .right-column
        .url-box
          input(type="text")
        ul.album-list
          li
            .grid-item(style="background-image: url(https://i.scdn.co/image/0ba05bf089098f8daab52774a2bf9be294bfb93e)")
              .close
                span ✖
          li
            .grid-item(style="background-image: url(https://i.scdn.co/image/7ebada6fe86734588880142a6b6ab4e72b935fbd)")
              .close
                span ✖

  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/Sortable/Sortable.min.js')
  script(src='js/app.js')
