doctype html
html
  head
    title Squared
    meta(charset="UTF-8")
  //- link(rel="stylesheet", href="/bower_components/sweetalert/dist/sweetalert.css")
  link(rel="stylesheet", href="/css/sweetalert.css")
  link(rel="stylesheet", href="/css/app.css")
  body
    #main
      .left-column
        .squared-box
          .placeholder._centered_hint
            span Drag or click to add artwork
        .settings-box._round_0
          .row
            label Grid:
            select(name="grid_number")._select
              option(value="9") 9X9
          .row
            label Size:
            select(name="size")._select
              option(value="origin") origin (1920X1920)
              option(value="1200") 1200X1200
              option(value="300") 300X300
            button.download._button Download
          .row.footer
            img.favicon(src="/favicon.ico")
            a(href="https://github.com/reorx/squared" target="_blank") squared
            span , created by&nbsp
            a(href="https://twitter.com/novoreorx" target="_blank") @reorx
            span.whatsthis (what's this?)
      .right-column
        .url-box._round_0
          form
            select._select
              option(value="spotify") Spotify
            input(type="url", name="url", required)._input
        .play-list._round_0
          .status-bar &nbsp
          .placeholder._centered_hint
            span Enter URL above to load playlist
          .loading._centered_hint
            span Loading playlist...
          ul

    script#playlist-template(type="text/x-handlebars-template").
      {{#playlist}}
        <li>
          <div class="grid-item-wrapper">
            <div class="grid-item">
              <img src="{{album.images.0.url}}" crossOrigin="anonymous">
              <div class="close">✖</div>
            </div>
          </div>
          <div class="song-info">
            <span class="title">{{name}}</span>
            <span class="album">{{album.name}}</span>
            <span class="artist">{{artists.0.name}}</span>
          </div>
        </li>
      {{/playlist}}

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/handlebars/handlebars.min.js')
    script(src='/bower_components/Sortable/Sortable.min.js')
    script(src='/bower_components/sweetalert/dist/sweetalert.min.js')
    script(src="/js/lib/canvas-filesaver.js")
    script(src='/js/views.js')
    script(src='/js/app.js')
