doctype html
html
  head
    title Squared
    meta(charset="UTF-8")
  link(rel="stylesheet", href="/css/app.css")
  body
    #main
      .left-column
        .squared-box
        .settings-box._round-0
          button.download Download
      .right-column
        .url-box._round-0
          select(readonly)
            option(value="spotify") Spotify
          input(type="text")._ui-input
        .play-list._round-0
          .status-bar &nbsp
          .placeholder
            span Enter URL above to load playlist
          .loading
            span Loading playlist...
          ul

    script#playlist-template(type="text/x-handlebars-template").
      {{#playlist}}
        <li>
          <div class="grid-item">
            <img src="{{album.images.0.url}}" crossOrigin="anonymous">
            <div class="close">✖</div>
          </div>
          <div class="song-info">
            <span class="title">{{name}}</span>
            <span class="album">{{album.name}}</span>
            <span class="artist">{{artists.0.name}}</span>
          </div>
        </li>
      {{/playlist}}

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/handlebars/handlebars.min.js')
    script(src='/bower_components/Sortable/Sortable.min.js')
    script(src='/js/app.js')
